// # Default colors
$color_white = #ffffff
$color_black = #000000
$color_primary = #0d6efd
$color_primary_bold = #0b5ed7
$color_secondary = #6c757d
$color_secondary_bold = #5c636a
$color_success = #198754
$color_success_bold = #157347
$color_danger = #dc3545
$color_danger_bold = #bb2d3b
$color_warning = #ffc107
$color_warning_bold = #ffca2c
$color_info = #0dcaf0
$color_info_bold = #31d2f2
$color_light = #f8f9fa
$color_light_bold = #f9fafb
$color_dark = #212529
$color_dark_bold = #1c1f23
// # App colors
$color_app_white = #fdfdfd
$color_app_black = #181820
$color_app_dark = #21212b
$color_app_dark_light = #272732
$color_app_dark_grey = #32323f
$color_app_grey = #bcbcbf
$color_app_yellow = #cfb451
$color_app_brown = #83623f
$color_app_green = #358a5a
$color_app_red = #bb2d3b
$color_app_pink = #fb76a1
$color_app_mint = #41a4a0
$color_app_purple = #ac6dde
$color_app_blue = #3569fa
