/* Width */
$max_width = 1080px
$max_width_small = 670px
$media_tablet = 1079px
$media_mobile = 767px
/* Size */
// # Header elements
$size_header = 62px
$size_header_elements = 38px
$size_header_elements_small = 22px
$size_header_panel = calc(100vh - 63px)
// # Panel elements
$size_panel_elements = 44px
$size_panel_elements_big = 62px
$size_panel_elements_padding = 4px 16px
// # Content header elements
$size_content_header = 32px
// # Fields
$size_field = 38px
$size_field_big = 48px
$size_field_small = 31px
/* Z Index */
$z_control = 1000
$z_modal = 1100
/* Margin, Padding */
$size_margin = 6px 4px
$size_margin_big = 8px 6px
$size_margin_small = 4px 2px
$size_padding = 6px 12px
$size_padding_big = 8px 16px
$size_padding_small = 4px 8px
/* Border radius */
$size_radius_small = 2px
$size_radius = 4px
$size_radius_big = 12px
$size_radius_large = 24px
$size_radius_max = 50px
/* Transition */
$transition = all .5s ease
